/*Muda todos os elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Corpo*/
body{
  padding: 10px;
  background: linear-gradient(135deg, 0%, #f5f3f3 100%);
}

/*Cabeçalho*/
header{
    background: url("https://mcd-landings-l-statics.appmcdonalds.com/uploads-live/background_image_3x_mobile_72a9cec9dd.webp") no-repeat center center;
    background-size:cover;
    color: white;
    position: fixed;
    width: 100%;
    height: 35%;
    top: 0;
    transition: 10s;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.menu1{
    max-width: 160px;
    margin: 20px;
    display: grid;
    justify-content: space-between;
    align-items:center;
    padding: 0 2rem;
    
}

.menu2{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2rem;
}

.cards-container{
    background: linear-gradient(), url();
    background-size:cover;
    background-position:center;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align:right;
    color:rgb(0, 0, 0);
    margin-top: 50px;

}

.cards1{
    padding: 1rem;
}

.cards2{
    padding: 18rem;
}


.cards3{
    padding: 1rem;
}

/*botão*/
.btn{
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 1rem;
    background-color: #eaec74;
    padding: 15px;
    transition: all;
    cursor: pointer;
}
iframe {
  position: relative;
  top: 260px;   /* continua descendo o vídeo */
  display: block;
  margin-left: 20px; /* opcional: dá um espacinho da borda */

}

audio{
  position: relative;
  top: 260px;   /* continua descendo o vídeo */
  display: block;
  margin-left: 20px; /* opcional: dá um espacinho da borda */
}
    
