/*Muda todos os elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Corpo*/
body{
  padding: 10px;
  background: linear-gradient(135deg, 0%, #f5f3f3 100%);
}

/*Cabeçalho*/
header{
    background: linear-gradient(135deg, #e9e519 0%, #cc2d2d 100%);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.menu1{
    max-width: 160px;
    margin: 10px;
    display: grid;
    justify-content: space-between;
    align-items:center;
    padding: 0 2rem;
    
}

.menu2{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.cards-container{
    background: linear-gradient(), url();
    background-size:cover;
    background-position:center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align:left;
    color:rgb(0, 0, 0);
    margin-top: 60px;
    
}
.cards1{
    padding: 20px;
}

.cards2{

    padding: 80px;
}

.cards3{
    padding: 80px;
}
/*botão*/
.btn{
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 1rem;
    background-color: #eaec74;
    padding: 5px;
    transition: all;
}
